* {
    margin: 0%;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loop {
    width: 100vw;
    height: 100vh;
    background-color: #de8a89;
    position: fixed;
}

.header {
    width: 76rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-left: 10rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 3.7em;
}

h1 {
    color: #fff;
}

h2,
h3,
h4,
h5 {
    color: hsl(1, 58%, 82%);
}

h2,
h3,
h4,
h5:hover {
    cursor: pointer;
}

.loads {
    width: 40rem;
    height: 1rem;
    color: #fbf7fd;
    margin-left: 10rem;
    font-weight: 500;
}

.boxes {
    width: 65rem;
    height: 20rem;
    margin: auto;
    padding: auto;
    margin-top: 5rem;
    /* background-color: #fff; */
    margin-left: 3rem;
    display: flex;
}

.box1 {
    width: 6rem;
    height: 6rem;
    background-color: #ecb9b8;
}

.arrow1 {
    width: 0px;
    height: 0px;
    border-color: transparent #855352;
    border-style: solid;
    border-width: 7px 7px 7px 0px;
    /* margin-left: 5rem; */
    position: relative;
    top: 2.7rem;
    left: 2.6rem;
}

.largebox1,
.largebox2,
.largebox3 {
    width: 19.6rem;
    height: 20rem;
}

.largebox1 {
    background-color: #3e3c3d;
}

.start {
    width: 15rem;
    height: 3.5rem;
    background-color: #000000;
    margin-top: 7rem;
    margin-left: 2em;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: .9em;
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
}

.start:hover {
    cursor: pointer;
}

.largebox2 {
    background-color: #353334;
}

.largebox3 {
    background-color: #201e1f;
}

.box2 {
    width: 6rem;
    height: 6rem;
    background-color: #ecb9b8;
}

.arrow2 {
    width: 0px;
    height: 0px;
    border-color: transparent #855352;
    border-style: solid;
    border-width: 7px 0px 7px 7px;
    /* margin-left: 5rem; */
    position: relative;
    top: 2.7rem;
    left: 2.6rem;
}

.text1,
.text2,
.text3 {
    width: 5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-left: 3rem;
}

.timer,
.temp,
.load {
    font-size: 1.2em;
    color: #ecb9b8;
    font-family: Arial, Helvetica, sans-serif;
}

.minute1 {
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
    margin-left: 1em;
}

.cold {
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
    margin-right: 1.4em;
}

.medium {
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
    margin-left: 1.8em;
}